* {
  font-family: Roboto, sans-serif;
  font-weight: 300;
}

.header {
  height: 128px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  float: left;
}

.App-header {
  text-align: center;
  background-color: #222;
  padding: 20px;
  padding-top: 67px;
  color: white;
  width: 100%;
}

.App-header h2 {
  margin: 10px;
  position: relative;
  left: -40px;
}

.App-nav {
  float: right;

  background-color: #00b9be;
  width: 100%;

  position: fixed;
  z-index: 1;
}

.App-nav a {
  float: right;
  display: block;
  padding: 14px 16px;

  text-decoration: none;
  color: white;
  font-size: 16px;
}

.App-nav a:hover {
  font-weight: 300;
  background-color: #ffffff;
  color: #00b9be;
}

.App-nav .active {
  font-weight: 300;
  background-color: #ffffff;
  color: #00b9be;
}

.content {
  margin: 40px;
  padding: 20px;
}

.content .topic {
  padding-bottom: 20px;
}


.reddit{
}

  .reddit ul {
    padding:0;
  }

  .reddit ul li {
    list-style-type: none;
    border: 1px solid #efefef;
    padding: 15px;
    margin: 10px;
    box-shadow: 1px 1px #00b9be;
  }

  .reddit ul li a {
    text-decoration: none;
    color: #00b9be;
    font-size: 16px;
  }

  .reddit ul li span {
    color: #333333;
    font-size: 10px;
  }



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


@media (max-width: 550px) {
  .App-logo{
    display: none;
  }

  .App-header {
    position: inherit;
  }

  .App-nav {
    margin-top: inherit;
  }

}